@charset "UTF-8";
.delete_alert{
    width:370px;
    margin: 60px auto 0px auto;
}

.delete_alert h1.delete_title{
    font-size: 16px;
    text-align: center;
    color: #333;
    font-weight: normal;
}

.delete_alert textarea{
    margin:30px auto 0px auto;
}

.delete_alert textarea.delete_form_text{
    width:368px;
    height:48px;
    border-radius: 3px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 12px;
    color: #aaa;
    padding: 10px;
}

.tip_layer_submit{
    width:70px;
    height:30px;
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    margin: auto;
    color: #fff;
    background-color: #3399ff;
}
