<ul class="cpss_report_view clearfix">
    <li class="mr60 mb60" id="total_attendance"></li>
    <li class="mb60" id="live_attendance"></li>
    <li class="mr60" id="test_finished"></li>
    <li id="unit_finished"></li>
</ul>
