<div class="delete_alert">
    <h1 class="delete_title mb15">确定删除该课程吗？</h1>
    <p class="fz14 color_f9b600 taC">删除的课程不可以重新添加</p>
    <textarea class="delete_form_text del_reason" placeholder="请输入不少于10个字的删除理由"></textarea>
    <!--丹萍说加一行提示 最终确定样式-->
    <p class="flL color_ff0000 fz12 h39 reason_prompt"></p>
    <a href="javascript:;" class="tip_layer_submit clearfix del_schedule_submit_reason">提交</a>
</div>