<div class="delete_alert">
    <h1 class="delete_title mb15">错误描述</h1>
    <textarea class="delete_form_text wrong_desc" placeholder="请输入错误描述"></textarea>
    <p class="flL color_ff0000 fz12 h39 reason_prompt"></p>
    <a href="javascript:;" class="tip_layer_submit clearfix submit_desc" data-qid="{{questionId}}">提交</a>
</div>