<div id="popup2" class="" style="display: none">
</div>
<div class="wap_cpss_popup_bg2" style="display: none"></div>
<div id="wap_cpss">
    <div class="wap_cpss_header">
        {{{ header_content }}}
    </div>
    {{{ main_content }}}
</div>