<span class="wap_cpss_close curP"><img src="../images/wap_cpss_close_img.png" alt=""></span>
<span class="pl40 pr40 mt60"><img src="../images/wap_cpss_fanfan_02.png" alt=""></span>
<p class="fz26 mt30 color_979797">同学</p>
<p class="fz24 color_979797">你的课程商品已于<b class="color_1e93fa">{{expire_text}}</b>过期，</p>
<p class="fz26 color_979797">欢迎报名其他课程哟~</p>
<a href="{{jump_url}}"><p class="wap_cpss_password_btn mt20 curP">去报名</p></a>