<div id="popup" class="wap_cpss_popup" style="display: none">
</div>
<div class="wap_cpss_popup_bg" style="display: none"></div>
<div id="wap_cpss">
    <div class="wap_cpss_header">
        {{{ header_content }}}
    </div>
    <div id="schedule">
        <div class="wap_schedule_title">
            {{{ title_content }}}
        </div>
        <p class="wap_cpss_prompt{{#if expire_flag}} color_ff0000{{/if}}
    ">{{{ time_content }}}</p>
        {{{ main_content }}}
    </div>
</div>