<a class="flL ml30 back_button curP"><img src="../images/wap_cpss_iconL.png" alt=""></a>
<h1 class="wap_title flL">{{ title }}</h1>
{{#if iconR_show}}
    <a class="wap_cpss_iconR schedule_lesson_button link ga google_event curP" data-link="#schedule"
       ga-location="wap学习中心" ga-type="点击课程表按钮">
        <img src="../images/wap_cpss_iconR.png" alt="">
    </a>
{{/if}}